@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    // colors
    --backgroundColor: rgb(255, 255, 255);
    --borderColor: rgb(205, 205, 205);
    --textColor: rgb(33, 33, 33);
    --subTextColor: rgb(68, 67, 67);
    --accentColor: #dbdbdb4d;
    --hoverLinkColor: rgb(100, 99, 99);
    --activeBtnColor: rgb(7,7,7);
    --activeBtnTextColor: #ffff;

    



    // font sizes
    --logoSize: 1rem;
    --mainHeading: 2rem;
    --tagFontSize: 0.75rem;
    --textFontSize: 0.875rem;
    --subHeading: 1.125rem;
    --locationFontSize: 0.75rem;

    --projectCardTitle: 0.875rem; //14
    --projectCardType: 0.75rem;//12
    --projectCardStack: 0.75rem; //12
    --projectCardDesc: 0.75rem; //12
    --projectCardLinks: 0.75rem;//12

    --fontLabelSize: 1rem;//16
}

[data-theme = 'dark']{
    --backgroundColor: rgb(17, 17, 17);
    --borderColor:#787878;
    --textColor: rgb(255, 255, 255);
    --subTextColor: rgb(230, 229, 229);
    --accentColor: #302f2f65;
    --hoverLinkColor: rgb(209, 209, 209);
    --activeBtnColor: rgb(255, 255, 255);
    --activeBtnTextColor: rgb(7,7,7);
}

// transition duration for theme change
$transitionDuration: 0.3s;

.change{
    
        --backgroundColor: rgb(17, 17, 17);
        --borderColor:#787878;
        --textColor: rgb(255, 255, 255);
        --subTextColor: rgb(230, 229, 229);
        --accentColor: #302f2f65;
        --hoverLinkColor: rgb(209, 209, 209);
        --activeBtnColor: rgb(255, 255, 255);
        --activeBtnTextColor: rgb(7,7,7);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}

a{
    text-decoration: none;
}

body{
    background: var(--backgroundColor);
    overflow-x: hidden;
    transition: background $transitionDuration ease;
    padding-bottom: 4rem;
}

.sectionPadding{
    padding: 4rem 1rem 0;
}

.sectionTitle{
    font-size: 24px;
    color: var(--textColor);
    font-weight: 500;
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
}

@mixin frostedBackground{
    background: rgba(var(--backgroundColor), 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Start and end at the original position */
    }
    50% {
      transform: translateY(-30px); /* Move 50px upwards */
    }
  }