main{
    min-height: 100dvh;
    padding: 4vh 1rem 0;
    overflow-x: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent{
    text-align: center;
    flex: 1;
    width: 100%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-weight: 500;
        font-size: var(--mainHeading);
        color: var(--textColor);

        transition: color $transitionDuration ease
    }

    .roleTags{
        margin: 0;

        .tag{
            text-align: center;
            text-wrap: nowrap;
            font-size: var(--tagFontSize);
            background: var(--accentColor);
            color: var(--textColor);

            width: fit-content;
            display: inline-flex;

            padding: 0.4rem 1rem;
            border-radius: 50px;

            transition: 
                background $transitionDuration ease,
                color $transitionDuration ease,
                transform 0.2s ease;
                
            &:hover{
                animation: shake 0.5s ease-in-out;
            }
        }
    }

    .aboutMeText{
        color: var(--textColor);
        font-size: var(--textFontSize);
        max-width: 540px;
        margin: 0 auto;
        margin: 1rem 0;

        transition: color $transitionDuration ease;
    }

    .socialLinks{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        a{
            padding: 0.5rem;
            border-radius: 0.5rem;
            background: var(--accentColor);
            transition: transform 0.3s ease;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            transition: background $transitionDuration ease;

            svg{
                $svgSize: 18px;
                height: $svgSize;
                width: $svgSize;
                fill: var(--textColor);
                transition: fill $transitionDuration ease;
            }

            &:hover{
                &::after{
                    opacity: 1;
                    visibility: visible;
                }
            }

            &::after{
                content: attr(data-tooltip);
                position: absolute;
                top: 120%;
                left: 50%;
                transform: translateX(-50%);

                font-size: var(--tagFontSize);
                background: var(--accentColor);
                color: var(--textColor);

                padding: 0.2rem 0.6rem;
                border-radius: 4px;
                white-space: nowrap;
                opacity: 1;

                visibility: hidden;
                transition:     
                    opacity 0.2s ease-in-out, 
                    background $transitionDuration ease,
                    color $transitionDuration ease
                ;
            }
        }
    }
}



// stack section
.myStack{
    flex: 1.5;
    h3{
        color: var(--textColor);
        font-weight: 500;
        font-size: var(--subHeading);
        text-align: center;
        transition: color $transitionDuration ease;
    }
}

.stacksContainer{
    max-width: 500px;
    margin: 0.5rem auto 0 auto;

    ul{
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        .langCard{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;

            font-size: var(--tagFontSize);
            color: var(--textColor);

            transition: color $transitionDuration ease, background $transitionDuration ease;

            img{
                $svgSize: 24px;
                height: $svgSize;
                width: $svgSize;
            }
            background: var(--accentColor);
            padding: 0.4rem 0.6rem;
            border-radius: 0.5rem;
        }
    }

}


// lower nav
.lowerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.4rem 0;
}

.themeToggle{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    svg{
        fill: var(--textColor);
        transition: fill $transitionDuration ease;
        $svgSize:18px;
        height: $svgSize;
        width: $svgSize;
    }
}

.location{
    color: var(--textColor);
    transition: color $transitionDuration ease;
    p{
        &:nth-child(1){
            font-size: 10px;
            margin-bottom: -0.2rem;
        }
        &:nth-child(2){
            font-size: var(--locationFontSize);
        }
    }
}

// background blobs
.blob{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(5vmax);
    z-index: -99;
}

.blob1{
    background: #A259FF;
    top: 14%;
    left: -80%;
    animation: bounce 4s infinite ease-in-out;
}
.blob2{
    background: #77E3A1;
    bottom: 6%;
    right: -70%;
    animation: bounce 4s infinite ease-in-out;
}


