.navbarOpen{
    background: var(--backgroundColor);
}

.navScrolled{
    background: var(--backgroundColor);
    border-bottom: 1px solid var(--borderColor);
}

.navbar{
    padding: 0.4rem 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    transition: all $transitionDuration ease;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navRight{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logoContainer{
    flex: 1;
}

.logo{
    font-weight: 500;
    font-size: var(--logoSize);
    color: var(--textColor);

    transition: 
        transform 0.3s ease,
        color $transitionDuration ease
    ;

    &:hover{
        color: red;
        transform: scale(0.9);
    }
}
.linksContainer{
    flex: 1;
    .navLinks{
        display: none;
    }
}


.burgerMenu{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        transition: fill $transitionDuration ease;
        fill: var(--textColor);
    }
}


// mobile nav
.mobileLinksContainer{
    position: fixed;
    z-index: 1000;
    background: var(--backgroundColor);
    height: 0%;
    width: 100%;
    pointer-events: none;

    .navLinks{
        padding: 0 2rem;
        list-style: none;
        height: fit-content;
        margin-top: 4rem;

        li{
            padding: 0.5rem 0;
            opacity: 0;
        }


        a{
            font-size: 35px;
            color: var(--textColor);
        }
    }

    hr{
        width: 0%;
        opacity: 0;
        margin: 1rem auto;
        transform-origin: left;
        border: none;
        background:var(--hrColor) ;
        height: 2px;
    }

    .socials{
        padding: 0 2rem;
        list-style: none;
        height: fit-content;

        li{
            padding: 0.5rem 0;
            opacity: 0;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        svg{
            width: 18px;
            height: 18px;
            fill: var(--textColor);
        }

        a{
            color: var(--textColor);
        }
    }
}

.exitMobileNav{
    float: right;
    margin: 0.1rem 1rem;
    margin-top: 0.3rem;
    cursor: pointer;

    .exitBtn{
        opacity: 0;
        fill: var(--textColor);
        width: 20px;
        height: 20px;
    }
}