.navbarOpen{
    background: var(--backgroundColor);
}

.navScrolled{
    background: var(--backgroundColor);
    border-bottom: 1px solid var(--borderColor);
}

.navbar{
    padding: 0.4rem 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    transition: all $transitionDuration ease;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navRight{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logoContainer{
    flex: 1;
}

.logo{
    font-weight: 500;
    font-size: var(--logoSize);
    color: var(--textColor);

    transition: 
        transform 0.3s ease,
        color $transitionDuration ease
    ;

    &:hover{
        transform: scale(0.9);
    }
}
.linksContainer{
    flex: 1;
    .navLinks{
        display: none;
    }
}
.navLinks{
    // list-style-type: none;
    // display: none;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    // gap: 0.5rem;

    // position: absolute;
    // top: 100%;
    // left: 0;
    // width: 100%;
    // z-index: 998;
    // pointer-events: none;
    // opacity: 0;

    // transition: opacity 0.5s ease, 
    //     bacground $transitionDuration ease
    // ;

    // background: var(--backgroundColor);
    // border-bottom: 1px var(--borderColor) solid;

    // a{
    //     width: 100%;
    //     display: block;
    //     padding: 1rem;
    //     color: var(--textColor);

    //     transition: 
    //         background 0.3s ease,
    //         color $transitionDuration ease
    //     ;
    //     &:hover{
    //         background: var(--accentColor);
    //     }
    // }

    // li{
    //     width: 100%;
    //     text-align: center;
    // }
}

// .openMobileNav{
//     opacity: 1;
//     pointer-events: all;
// }

.burgerMenu{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        transition: fill $transitionDuration ease;
        fill: var(--textColor);
    }
}
