.projectsContainer{
    position: relative;
    width:100%;
    max-width: 25rem;
    margin: 0 auto;

    display: grid;
    justify-items: center; 
    align-items: center;

    grid-template-columns: 1fr;
    gap: 1rem;
}

.projectsCategories{
    position: relative;
    margin: 2rem 0;
}



.dropdownListBtn{
    background: var(--activeBtnColor);
    color: var(--activeBtnTextColor);

    transition: background $transitionDuration ease, color $transitionDuration ease;

    width: 100%;
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: none;
    border-radius: 3.125rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-size: var(--tagFontSize);

    svg{
        margin-left: 0.2rem;
        $svgSize: 1rem;
        height: $svgSize;
        width: $svgSize;
        transition: transform 0.5 ease;
            path{
                transition: stroke $transitionDuration ease;
                stroke: var(--activeBtnTextColor);
            }   
    }
}

.transformArrow{
    transform: rotate(180deg);
}

.categoryList{
    position: absolute;
    z-index: 100;
    top: 2.8rem;
    left: 0;
    right: 0;


    max-width: 15rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 0.5rem;
    opacity: 0;
    pointer-events: none;
    list-style: none;
    background: var(--activeBtnColor);
    border-radius: 10px;
    padding:0.2rem;
    transition: background $transitionDuration ease, opacity 0.1s ease-in;

    button{
        cursor: pointer;
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        border-radius: 3.125rem;
        color: var(--activeBtnTextColor);
        font-size: var(--tagFontSize);
        transition: 
            background $transitionDuration ease,
            color $transitionDuration ease
            ;
    }
}

.showCategoryList{
    opacity: 1;
    pointer-events: all;
}



.noProjectsMsg{
    position: absolute;
    top: 2vh;
    font-size: var(--tagFontSize);
    color:var(--textColor);
    display: block;
    width: 100%;
    text-align: center;

    transition: color $transitionDuration ease;
}


// card styles

.projectCard{
    background: var(--accentColor);
    color: var(--textColor);
    border-radius: 10px;
    padding: 0.5rem;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease, color $transitionDuration ease, background $transitionDuration ease;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .projectIMGContainer{
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cardTitle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;

        h6{
            font-size: var(--projectCardTitle);
            font-weight: 400;
        }
        p{
            font-size: var(--projectCardType);
            color: var(--subTextColor);
        }

    }

    ul{
        display: flex;
        align-items: center;
        gap: 0.2rem;
        list-style: none;
        font-size: var( --projectCardStack);
        margin-top: 0.5rem;
    }

    .projectDescription{
        font-size: var(--projectCardDesc);
        margin: 1rem 0;
        color: var(--subTextColor);
    }
}

.projectLinks{
    a{
        border-radius: 8px;
        color: var(--textColor);

        border: 1px solid var(--textColor);
        padding: 0.4rem 0.6rem;

        font-size: var(--projectCardLinks);
        display: inline-block;

        transition: transform 0.1s ease;
        &:hover{
            transform: scale(0.95);
        }

        &:nth-child(1){
            background: var(--activeBtnColor);
            color: var(--activeBtnTextColor);
            
        }
    }        
}

.projectCardShow{
    opacity: 1;
    transform: translateY(0);
}