@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --backgroundColor: rgb(255, 255, 255);
  --borderColor: rgb(205, 205, 205);
  --textColor: rgb(33, 33, 33);
  --subTextColor: rgb(68, 67, 67);
  --accentColor: #e7e5e565;
  --hoverLinkColor: rgb(100, 99, 99);
  --activeBtnColor: rgb(7,7,7);
  --activeBtnTextColor: #ffff;
  --hrColor: #d4d4d4;
  --logoSize: 1rem;
  --mainHeading: 2rem;
  --tagFontSize: 0.75rem;
  --textFontSize: 0.875rem;
  --subHeading: 1.125rem;
  --locationFontSize: 0.75rem;
  --projectCardTitle: 0.875rem;
  --projectCardType: 0.75rem;
  --projectCardStack: 0.75rem;
  --projectCardDesc: 0.75rem;
  --projectCardLinks: 0.75rem;
  --fontLabelSize: 1rem;
}

[data-theme=dark] {
  --backgroundColor: rgb(17, 17, 17);
  --borderColor:#787878;
  --textColor: rgb(255, 255, 255);
  --subTextColor: rgb(230, 229, 229);
  --accentColor: #302f2f65;
  --hoverLinkColor: rgb(209, 209, 209);
  --activeBtnColor: rgb(255, 255, 255);
  --activeBtnTextColor: rgb(7,7,7);
}

.change {
  --backgroundColor: rgb(17, 17, 17);
  --borderColor:#787878;
  --textColor: rgb(255, 255, 255);
  --subTextColor: rgb(230, 229, 229);
  --accentColor: #302f2f65;
  --hoverLinkColor: rgb(209, 209, 209);
  --activeBtnColor: rgb(255, 255, 255);
  --activeBtnTextColor: rgb(7,7,7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", serif;
}

a {
  text-decoration: none;
}

body {
  background: var(--backgroundColor);
  overflow-x: hidden;
  transition: background 0.3s ease;
  padding-bottom: 4rem;
}

.sectionPadding {
  padding: 4rem 1rem 0;
}

.sectionTitle {
  font-size: 24px;
  color: var(--textColor);
  font-weight: 500;
  max-width: 600px;
  text-align: left;
  margin: 0 auto;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  50% {
    transform: translateY(-30px); /* Move 50px upwards */
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(-3px);
  }
}
.navbarOpen {
  background: var(--backgroundColor);
}

.navScrolled {
  background: var(--backgroundColor);
  border-bottom: 1px solid var(--borderColor);
}

.navbar {
  padding: 0.4rem 1rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logoContainer {
  flex: 1;
}

.logo {
  font-weight: 500;
  font-size: var(--logoSize);
  color: var(--textColor);
  transition: transform 0.3s ease, color 0.3s ease;
}
.logo:hover {
  color: red;
  transform: scale(0.9);
}

.linksContainer {
  flex: 1;
}
.linksContainer .navLinks {
  display: none;
}

.burgerMenu {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burgerMenu svg {
  transition: fill 0.3s ease;
  fill: var(--textColor);
}

.mobileLinksContainer {
  position: fixed;
  z-index: 1000;
  background: var(--backgroundColor);
  height: 0%;
  width: 100%;
  pointer-events: none;
}
.mobileLinksContainer .navLinks {
  padding: 0 2rem;
  list-style: none;
  height: fit-content;
  margin-top: 4rem;
}
.mobileLinksContainer .navLinks li {
  padding: 0.5rem 0;
  opacity: 0;
}
.mobileLinksContainer .navLinks a {
  font-size: 35px;
  color: var(--textColor);
}
.mobileLinksContainer hr {
  width: 0%;
  opacity: 0;
  margin: 1rem auto;
  transform-origin: left;
  border: none;
  background: var(--hrColor);
  height: 2px;
}
.mobileLinksContainer .socials {
  padding: 0 2rem;
  list-style: none;
  height: fit-content;
}
.mobileLinksContainer .socials li {
  padding: 0.5rem 0;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.mobileLinksContainer .socials svg {
  width: 18px;
  height: 18px;
  fill: var(--textColor);
}
.mobileLinksContainer .socials a {
  color: var(--textColor);
}

.exitMobileNav {
  float: right;
  margin: 0.1rem 1rem;
  margin-top: 0.3rem;
  cursor: pointer;
}
.exitMobileNav .exitBtn {
  opacity: 0;
  fill: var(--textColor);
  width: 20px;
  height: 20px;
}

main {
  min-height: 100dvh;
  padding: 4vh 1rem 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  text-align: center;
  flex: 1;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainContent h1 {
  font-weight: 500;
  font-size: var(--mainHeading);
  color: var(--textColor);
  transition: color 0.3s ease;
}
.mainContent .roleTags {
  margin: 0;
}
.mainContent .roleTags .tag {
  text-align: center;
  text-wrap: nowrap;
  font-size: var(--tagFontSize);
  background: var(--accentColor);
  color: var(--textColor);
  width: fit-content;
  display: inline-flex;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.mainContent .roleTags .tag:hover {
  animation: shake 0.5s ease-in-out;
}
.mainContent .aboutMeText {
  color: var(--textColor);
  font-size: var(--textFontSize);
  max-width: 540px;
  margin: 0 auto;
  margin: 1rem 0;
  transition: color 0.3s ease;
}
.mainContent .socialLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.mainContent .socialLinks a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--accentColor);
  transition: transform 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}
.mainContent .socialLinks a svg {
  height: 18px;
  width: 18px;
  fill: var(--textColor);
  transition: fill 0.3s ease;
}
.mainContent .socialLinks a:hover::after {
  opacity: 1;
  visibility: visible;
}
.mainContent .socialLinks a::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--tagFontSize);
  background: var(--accentColor);
  color: var(--textColor);
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, background 0.3s ease, color 0.3s ease;
}

.myStack {
  flex: 1.5;
}
.myStack h3 {
  color: var(--textColor);
  font-weight: 500;
  font-size: var(--subHeading);
  text-align: center;
  transition: color 0.3s ease;
}

.stacksContainer {
  max-width: 500px;
  margin: 0.5rem auto 0 auto;
}
.stacksContainer ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.stacksContainer ul .langCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: var(--tagFontSize);
  color: var(--textColor);
  transition: color 0.3s ease, background 0.3s ease;
  background: var(--accentColor);
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
}
.stacksContainer ul .langCard img {
  height: 24px;
  width: 24px;
}

.lowerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.4rem 0;
}

.themeToggle {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.themeToggle svg {
  fill: var(--textColor);
  transition: fill 0.3s ease;
  height: 18px;
  width: 18px;
}

.location {
  color: var(--textColor);
  transition: color 0.3s ease;
}
.location p:nth-child(1) {
  font-size: 10px;
  margin-bottom: -0.2rem;
}
.location p:nth-child(2) {
  font-size: var(--locationFontSize);
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(5vmax);
  z-index: -99;
}

.blob1 {
  background: #A259FF;
  top: 14%;
  left: -80%;
  animation: bounce 4s infinite ease-in-out;
}

.blob2 {
  background: #77E3A1;
  bottom: 6%;
  right: -70%;
  animation: bounce 4s infinite ease-in-out;
}

.experienceCategories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem 0;
}
.experienceCategories button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: var(--tagFontSize);
  background: var(--accentColor);
  color: var(--textColor);
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}
.experienceCategories .activeExpBtn {
  background: var(--activeBtnColor);
  color: var(--activeBtnTextColor);
  transition: background 0.3s ease, color 0.3s ease;
}

.experienceContainer {
  transition: color 0.3s ease;
  color: var(--textColor);
  max-width: 600px;
  margin: 0 auto;
}

.expBlock {
  margin-bottom: 1.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.expBlock:last-child {
  margin-bottom: 0;
}

.expTag {
  font-size: var(--tagFontSize);
  background: var(--accentColor);
  color: var(--textColor);
  padding: 0.3rem 0.8rem;
  border-radius: 50px;
  transition: background 0.3s ease, color 0.3s ease;
}

.expTitle {
  font-size: var(--subHeading);
  font-weight: 400;
  line-height: 1.2em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.expTasks {
  font-size: var(--textFontSize);
  color: var(--subTextColor);
  list-style-position: inside;
  transition: color 0.3s ease;
}

.experienceShow {
  opacity: 1;
  transform: translateY(0);
}

.projectsContainer {
  position: relative;
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.projectsCategories {
  position: relative;
  margin: 2rem 0;
}

.dropdownListBtn {
  background: var(--activeBtnColor);
  color: var(--activeBtnTextColor);
  transition: background 0.3s ease, color 0.3s ease;
  width: 100%;
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 3.125rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: var(--tagFontSize);
}
.dropdownListBtn svg {
  margin-left: 0.2rem;
  height: 1rem;
  width: 1rem;
  transition: transform 0.5 ease;
}
.dropdownListBtn svg path {
  transition: stroke 0.3s ease;
  stroke: var(--activeBtnTextColor);
}

.transformArrow {
  transform: rotate(180deg);
}

.categoryList {
  position: absolute;
  z-index: 100;
  top: 2.8rem;
  left: 0;
  right: 0;
  max-width: 15rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  opacity: 0;
  pointer-events: none;
  list-style: none;
  background: var(--activeBtnColor);
  border-radius: 10px;
  padding: 0.2rem;
  transition: background 0.3s ease, opacity 0.1s ease-in;
}
.categoryList button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  border-radius: 3.125rem;
  color: var(--activeBtnTextColor);
  font-size: var(--tagFontSize);
  transition: background 0.3s ease, color 0.3s ease;
}

.showCategoryList {
  opacity: 1;
  pointer-events: all;
}

.noProjectsMsg {
  position: absolute;
  top: 2vh;
  font-size: var(--tagFontSize);
  color: var(--textColor);
  display: block;
  width: 100%;
  text-align: center;
  transition: color 0.3s ease;
}

.projectCard {
  background: var(--accentColor);
  color: var(--textColor);
  border-radius: 10px;
  padding: 0.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease, color 0.3s ease, background 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectCard .projectIMGContainer img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projectCard .cardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.projectCard .cardTitle h6 {
  font-size: var(--projectCardTitle);
  font-weight: 400;
}
.projectCard .cardTitle p {
  font-size: var(--projectCardType);
  color: var(--subTextColor);
}
.projectCard ul {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  list-style: none;
  font-size: var(--projectCardStack);
  margin-top: 0.5rem;
}
.projectCard .projectDescription {
  font-size: var(--projectCardDesc);
  margin: 1rem 0;
  color: var(--subTextColor);
}

.projectLinks a {
  border-radius: 8px;
  color: var(--textColor);
  border: 1px solid var(--textColor);
  padding: 0.4rem 0.6rem;
  font-size: var(--projectCardLinks);
  display: inline-block;
  transition: transform 0.1s ease;
}
.projectLinks a:hover {
  transform: scale(0.95);
}
.projectLinks a:nth-child(1) {
  background: var(--activeBtnColor);
  color: var(--activeBtnTextColor);
}

.projectCardShow {
  opacity: 1;
  transform: translateY(0);
}

#contactForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#contactForm input, #contactForm textarea {
  background: var(--accentColor);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  transition: border-color 0.3s ease;
  color: var(--textColor);
  resize: none;
}
#contactForm input:focus, #contactForm textarea:focus {
  outline: none;
  border-color: red;
}

.formInput {
  display: flex;
  flex-direction: column;
}
.formInput label {
  color: var(--textColor);
  font-size: var(--fontLabelSize);
}

#submitBtn {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: var(--tagFontSize);
  transition: transform 0.1s ease;
  background: var(--activeBtnColor);
  color: var(--activeBtnTextColor);
}
#submitBtn:hover {
  transform: scale(0.95);
}

@media (min-width: 375px) {
  .blob1 {
    left: -75%;
  }
  .blob2 {
    right: -60%;
  }
}
@media (min-width: 425px) {
  :root {
    --mainHeading:2.5rem;
  }
  .blob1 {
    left: -63%;
  }
  .blob2 {
    right: -50%;
  }
}
@media (min-width: 480px) {
  .blob1 {
    top: 3%;
    left: -48%;
  }
  .blob2 {
    right: -50%;
  }
}
@media (min-width: 550px) {
  .blob1 {
    top: 3%;
    left: -35%;
  }
  .blob2 {
    right: -35%;
  }
  .mainContent {
    flex: 2;
  }
  .myStack {
    flex: 1;
  }
  .projectsContainer {
    max-width: 37.5rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 640px) {
  .dropdownListBtn {
    display: none;
  }
  .categoryList {
    max-width: fit-content;
    position: static;
    opacity: 1;
    pointer-events: all;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .categoryList button {
    transition: background 0.3s ease, color 0.3s ease;
    font-size: var(--tagFontSize);
    background: var(--accentColor);
    color: var(--textColor);
  }
  .categoryList .activeCategory {
    background: var(--activeBtnColor);
    color: var(--activeBtnTextColor);
  }
}
@media (min-width: 768px) {
  :root {
    --mainHeading: 3.125rem;
  }
  .blob1 {
    top: 7%;
    left: -25%;
  }
  .blob2 {
    right: -22%;
    bottom: 8%;
  }
  .mainContent {
    height: 100dvh;
  }
  .burgerMenu {
    display: none;
  }
  .navRight {
    flex: 0;
  }
  .linksContainer {
    flex: 1;
    max-width: 350px;
  }
  .linksContainer .navLinks {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
  }
  .linksContainer .navLinks a {
    font-size: var(--tagFontSize);
    color: var(--textColor);
    transition: color 0.2s ease;
  }
  .linksContainer .navLinks a:hover {
    color: var(--hoverLinkColor);
  }
}
@media (min-width: 900px) {
  .projectsContainer {
    max-width: 53.125rem;
  }
}
@media (min-width: 1024px) {
  .blob1 {
    top: 10%;
    left: -15%;
  }
  .blob2 {
    right: -15%;
  }
  header {
    padding: 0.5rem 1rem;
  }
  .lowerNav {
    padding: 0.5rem 0;
  }
}
@media (min-width: 1200px) {
  :root {
    --mainHeading: 4rem;
    --textFontSize: 0.9375rem;
    --subHeading: 1.25rem;
    --tagFontSize:0.8125rem;
    --locationFontSize: 0.8125rem;
  }
}
@media (min-width: 1400px) {
  .blob1 {
    top: 10%;
    left: -12%;
  }
  .blob2 {
    right: -12%;
    bottom: 15%;
  }
}
@media (min-width: 1800px) {
  .blob1 {
    top: 10%;
    left: -9%;
  }
  .blob2 {
    right: -9%;
  }
}