@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --backgroundColor: rgb(255, 255, 255);
  --textColor: #ffff;
  --borderColor: #CDCDCD;
  --textColor: #212121;
  --accentColor: #F6F6F7;
  --logoSize: 1rem;
  --mainHeading: 2rem;
  --tagFontSize: 0.75rem;
  --textFontSize: 0.875rem;
}

[data-theme=dark] {
  --backgroundColor: #ffff;
  --textColor: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", serif;
}

a {
  text-decoration: none;
}

body {
  background: var(--backgroundColor);
  overflow-x: hidden;
  transition: background 0.4s ease;
}

nav {
  background-color: var(--backgroundColor);
  border-bottom: var(--borderColor) 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
}

.logo {
  font-weight: 500;
  font-size: var(--logoSize);
  color: var(--textColor);
  padding: 0.3rem 0.5rem;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(0.9);
}

.navLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 998;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: var(--backgroundColor);
  border-bottom: 1px var(--borderColor) solid;
}
.navLinks a {
  width: 100%;
  display: block;
  padding: 1rem;
  color: var(--textColor);
  transition: background 0.3s ease;
}
.navLinks a:hover {
  background: var(--accentColor);
}
.navLinks li {
  width: 100%;
  text-align: center;
}

.openMobileNav {
  opacity: 1;
  pointer-events: all;
}

.contactBtn {
  display: none;
}

.burgerMenu {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.burgerMenu svg {
  fill: var(--textColor);
}
.burgerMenu:hover {
  background: var(--accentColor);
}

html {
  margin-bottom: 1000px;
}

main {
  min-height: 100dvh;
  padding: 4vh 1.5rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  text-align: center;
  flex: 1;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainContent h1 {
  font-weight: 500;
  font-size: var(--mainHeading);
}
.mainContent .roleTags {
  margin: 0 0 0.5rem 0;
}
.mainContent .roleTags .tag {
  text-align: center;
  text-wrap: nowrap;
  font-size: var(--tagFontSize);
  background: var(--accentColor);
  color: var(--textColor);
  width: fit-content;
  display: inline-flex;
  padding: 0.3rem 0.6rem;
  border-radius: 50px;
}
.mainContent .aboutMeText {
  color: var(--textColor);
  font-size: 0.875rem;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.mainContent .socialLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.mainContent .socialLinks a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--accentColor);
  transition: transform 0.3s ease;
}
.mainContent .socialLinks a:hover {
  transform: scale(0.9);
}

.myStack {
  flex: 1.5;
}
.myStack h3 {
  font-weight: 500;
  text-align: center;
}

.stacksContainer {
  max-width: 460px;
  margin: 0 auto;
}
.stacksContainer ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.stacksContainer ul .langCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: var(--tagFontSize);
  background: var(--accentColor);
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
}
.stacksContainer ul .langCard svg {
  height: 24px;
  width: 24px;
}

.lowerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(5vmax);
  z-index: -99;
}

.blob1 {
  background: #A259FF;
  top: 10%;
  left: -50%;
  animation: bounce 3s infinite ease-in-out;
}

.blob2 {
  background: #77E3A1;
  bottom: 10%;
  right: -40%;
  animation: bounce 4s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  50% {
    transform: translateY(-25px); /* Move 50px upwards */
  }
}